.header{
    font-size: 40px;
    text-align: center;
    margin: auto;
    padding: 20px;
    width: 300px;
    justify-content: center;
    border-radius: 20px;
    background-color: red;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }
.rw1 { 
    
    background-color: orange; 
}
.rw2{

    background-color: orange;
}
