body{
    background-color: aqua;
    padding: 0px;
    margin: 0px;
}
header{
    margin: 0px;
    padding: 15px 50px;
    text-align: center;
    background-color: 
    greenyellow;
}
.div1{
    display: flex;
    background-color: darkorange;
    height: 50vh;
    height: 50vh;
}
.productItem{
    background-color: #fff;
    margin-bottom: 5px;
    width: 150px;
    height: 200px;
    
}

.div2{
    background-color:
    lightslategray;
}
h1{
    margin: 0px;
}
img {
    width: 300px;
    height: 300px;

}
footer {
    background-color: hotpink;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;   
  }
@media only screen and (max-witdth: 460px){
    .div1{
        background-color: blue;
    }
    .productItem{
        background-color: #fff;
        margin-bottom: 5px;
        width: 150px;
        height: 200px;
    }
    footer{
        background-color: hotpink;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}